<!DOCTYPE html>
<html>
<head>
    <title>Web Program</title>
</head>
<body>
    <h1>Enter your pass:</h1>
    <form action="/query" method="post">
        Username:<br>
        <input type="text" name="username" required><br>
        Password:<br>
        <input type="password" name="password" required><br>
        <input type="submit" value="Submit">
    </form><br>

    <h2>Infomation:</h2><br>
    
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    
    {% if geom %}
    <p>{{ geom }}</p>
    {% endif %}
</body>
</html>
